<a href="https://colab.research.google.com/github/ShubhangiGoel09/terror_attack/blob/main/terror_attack.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
terror = pd.read_csv('/content/terrorismData (1).csv')

In [ ]:
terror.head()

,Year,Month,Day,Country,State,Region,City,Latitude,Longitude,AttackType,Killed,Wounded,Target,Summary,Group,Target_type,Weapon_type
0,1970,7,2,Dominican Republic,NaN,Central America & Caribbean,Santo Domingo,18.456792,-69.951164,Assassination,1.0,0.0,Julio Guzman,NaN,MANO-D,Private Citizens & Property,Unknown
1,1970,0,0,Mexico,Federal,North America,Mexico city,19.371887,-99.086624,Hostage Taking (Kidnapping),0.0,0.0,"Nadine Chaval, daughter",NaN,23rd of September Communist League,Government (Diplomatic),Unknown
2,1970,1,0,Philippines,Tarlac,Southeast Asia,Unknown,15.478598,120.599741,Assassination,1.0,0.0,Employee,NaN,Unknown,Journalists & Media,Unknown
3,1970,1,0,Greece,Attica,Western Europe,Athens,37.997490,23.762728,Bombing/Explosion,NaN,NaN,U.S. Embassy,NaN,Unknown,Government (Diplomatic),Explosives
4,1970,1,0,Japan,Fukouka,East Asia,Fukouka,33.580412,130.396361,Facility/Infrastructure Attack,NaN,NaN,U.S. Consulate,NaN,Unknown,Government (Diplomatic),Incendiary

In [ ]:
terror.shape

(181691, 17)

In [ ]:
df = terror.copy()

In [ ]:
df = terror.copy()
df = df[(df.State == 'Jammu and Kashmir')]

pivot1 = df.groupby('City').count()['AttackType'].sort_values(ascending= False)
city = pivot1.index[0]
attacks = pivot1.values[0]
df1 = df[(df.City == city) & (df.Group != 'Unknown')]
pivot2 = df1.groupby('Group').count()['AttackType'].sort_values(ascending= False)
group = pivot2.index[0]
print(city,attacks,group)

Srinagar 657 Muslim Separatists

In [ ]:
df = terror.copy()

In [ ]:
df = terror.copy()
pivot3 = df.groupby('Country').count()['AttackType'].sort_values(ascending = False)
country = pivot3.index[0]
attacks = pivot3.values[0]
df1 = df[df.Country == country]
pivot4 = df1.groupby('Year').count()['AttackType'].sort_values(ascending= False)
year = pivot4.index[0]
print(country,attacks,year)

Iraq 24636 2014

In [ ]:
df = terror.copy()
df = df[df.Killed == df.Killed.max()]
killed = df.iloc[0].values[10]
print(int(killed))

1570

In [ ]:
df = terror.copy()
df1 = df[df.Year > 2014]
df2 = df[df.Year == 2014]
df2 = df2[df2.Month > 5]
df3 = df[(df.Year== 2014) & (df.Day >=26)]

df4 = pd.concat([df1,df2,df3]).reset_index(drop = True)

df4 = df4[(df4.Country =='India')]
pivot1 = df4.groupby('Country').count()['AttackType'].sort_values(ascending = False)
attacks = pivot1.values[0]
pivot2 = df4.groupby('Group').count()['AttackType'].sort_values(ascending = False)
group = pivot2.index[1]
print(group,attacks)

Maoists 3475

In [ ]:
df = terror.copy()
year = len(pd.unique(df.Year))

df['Casualty'] = df['Killed'] + df['Wounded']

jk = df[df.State == 'Jammu and Kashmir']
rc = df[(df.State == 'Jharkhand') | (df.State == 'Odisha') | (df.State == 'Andhra Pradesh') | (df.State == 'Chattisgarh')]
JKCasualty = jk.Casualty.sum()
RCCasualty = rc.Casualty.sum()

print(int(JKCasualty/year), int(RCCasualty/year))

261 64